<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-md-6 mt-1">
      <div class="mb-5">
        <%= form_with model:@user, local: true do |f| %>
        <div class="image-button">
          <%= f.attachment_field :profile_image, id: "image" %>
        </div>
        <div>
          <%= attachment_image_tag @user, :profile_image, size: "150x150", class:"ml-2 rounded-circle mt-3 mb-4" %>
          <p class="fas fa-camera fa-2x" id="img_field" onClick="$('#image').click()"></p>
        </div>
        <div class="form-group mb-3">
          <label for="user_name"></label>
          <input type="text" class="form-control user_name bg-transparent" placeholder="名前" name="user[name]" id="user_name">
        </div>
        <div class="text-center">
          <%= f.submit '変更', class:"btn btn-dark" %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>