<div class="container">
  <div class="row">
    <div class="col">
      <!-- サイドバー -->
      <%= render "layouts/sidebar" %>
    </div>

    <div class="col-md-7 border-left border-right pt-2 d-flex flex-wrap">
      <a class="games", href="/hobbies/games">
        <div>
          <h2 class="text">Games</h2>
        </div>
      </a>
      <a class="sports", href="/hobbies/sports">
        <div>
          <h2 class="text">Sports</h2>
        </div>
      </a>
      <a class="movies", href="/hobbies/movies">
        <div>
          <h2 class="text">Movies</h2>
        </div>
      </a>
      <a class="sightseeing", href="/hobbies/sightseeing">
        <div>
          <h2 class="text">Sightseeing</h2>
        </div>
      </a>
      <a class="books", href="/hobbies/books">
        <div>
          <h2 class="text">Books</h2>
        </div>
      </a>
    </div>

    <div class="col">
      <!-- おすすめ一覧 -->
      <%= render "layouts/recommendation", hobby: @osusume, user: @user %>
    </div>
  </div>
</div>