<div class="container mt-5">
  <div class="row m-3">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 my-5">
      <h1 class="text-center mb-5"><strong>このサイトについて</strong></h1>
        <h5 class="text-center"><strong>ゲーム、漫画、スポーツなどいろんな趣味の文化に</strong></h5>
        <h5 class="text-center"><strong>触れ合うとことができます。さらに自分自身で評価し、</strong></h5>
        <h5 class="text-center"><strong>実際に自分の趣味などをも紹介することもできます。</strong></h5>
    </div>
  </div>
</div>