<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-md-7 border-left border-right pt-2 bg-light mb-2">
      <div>
        <h1>利用規約</h1>
        <p>この利用規約は、ウェブサイト上でサービスを提供する利用条件
        を定めたものです。ユーザーの皆様には規約に従ってサービスの
        ご利用をお願いします。</p>
      </div>
      <div>
        <h2>第一条（利用登録）</h2>
        <ol>
          <li>本サービスには運営が定めた登録方法に承認し登録をしていただけます。</li>
          <li>Nameの欄に基本的に匿名の名前を記載してください。本名を名乗っても構いませんが、自己責任
          でお願いします</li>
        </ol>
      </div>
      <div>
        <h2>第二条（ユーザーemail、パスワード管理）</h2>
        <ol>
          <li>ユーザー様には自己責任において、ご自身のemailアドレス、パスワードは適切に管理するものとします。</li>
          <li>本サービスはログイン時にemailアドレス、パスワードを用いるため、いかなる場合でも第三者に
          ご自身のemailアドレス及びパスワードは共有しないでください。</li>
        </ol>
      </div>
      <div>
        <h2>第三条（利用料金について）</h2>
        <ol>
          <li>本サービスは完全無料のサービスで、いかなる場合でも料金を請求することはありません。</li>
          <li>何らかの料金を請求された場合は、応じずに運営への連絡をお願いします。</li>
        </ol>
      </div>
      <div>
        <h2>禁止事項</h2>
        <ul>
          <li>本サービには画像のアップロードが存在しているため、著作権や肖像権侵害になる可能性があるため
          画像などは許可なくアップロードは控えてください。</li>
          <li>本サービスにはさまざまな年齢や人種などの利用者が存在しているため、不適切な発言は控えてください。</li>
          <li>他人の投稿に対しの妨害行為</li>
          <li>本サービスの運営への妨害行為</li>
          <li>暴力的な表現や性的な発言</li>
        </ul>
      </div>

    </div>
    <div class="col text-center">
    </div>
  </div>
</div>