<div class="d-flex">
  <div class="top-page col-6 border-right border-dark">
    <div>
      <h2 class="text-shadow">こちらのサイトでは<br>
      ゲーム、スポーツ、映画、観光、本など、
      趣味に関するものを見つけたり、紹介することが
      できるサイトです。</h2>
    </div>
  </div>
  <div class="col-6", style="background-color: black;">
    <span><%= image_tag '0B607AFF-A933-4ACF-A24B-964CD5A55EE6.png', size: '200x180' %></span>
    <div class="text-light">
      <h2>利用前するには<strong>ログイン</strong>もしくは<br><strong>新規登録</strong>が必要です。</h2>
    </div>
    <div class="mt-5 mb-2">
      <%= link_to new_user_session_path do %>
        <h2 class="btn btn-light btn-lg text-dark rounded-pill">ログイン</h2>
      <% end %>
    </div>
    <div>
      <%= link_to new_user_registration_path do %>
        <h2 class="btn btn-light btn-lg text-dark rounded-pill">新規登録</h2>
      <% end %>
    </div>
  </div>
</div>
