<div class="container">
  <div class="row">
    <div class="col">
      <%= render "layouts/sidebar" %>
    </div>

    <div class="col-md-7 mt-1">
      <% if @model == "user" %>
        <% @records.each do |user| %>

        <% end %>

      <% elsif @model == "hobby" %>
        <% @records.each do |hobby| %>
          <%= render 'hobbies/results', hobbies: @records %>
        <% end %>
      <% end %>
    </div>
    <div class="col">
      <h1>おすすめ</h1>
    </div>
  </div>
</div>